<%= render 'shared/error_messages' if @user.errors.any? %>
<hr/>
<div class="form-group">
  <%= f.label :name, class: 'sr-only' %>
  <%= f.text_field :name, class: 'form-control', placeholder: 'Name', autofocus: true %>
</div>
<hr/>
<div class="form-group">
  <%= f.label :email, class: 'sr-only' %>
  <%= f.email_field :email, class: 'form-control', placeholder: 'Email' %>
</div>
<hr/>
<div class="form-group">
  <%= f.label :password, class: 'sr-only' %>
  <%= f.password_field :password, class: 'form-control', placeholder: 'Password' %>
</div>

<div class="form-group">
  <%= f.label :password_confirmation, class: 'sr-only' %>
  <%= f.password_field :password_confirmation, class: 'form-control', placeholder: 'Password Confirmation' %>
</div>
<hr/>
