<% content_for :title, 'Edit Profile'%>

<% unless @user.activated? %>
  <%= link_to 'Resend Activation Email', account_activations_path(id: @user), method: :post, class: 'btn btn-primary btn-block' %>
<% end %>

<button type="button" class="btn btn-primary btn-block btn-sm" data-toggle="modal" data-target="#editInfo">
  Edit Your Information
</button>

<button type="button" class="btn btn-primary btn-block btn-sm" data-toggle="modal" data-target="#changePassword">
  Change Your Password
</button>

<%= render 'shared/twitter_button' %>

<%= link_to 'Delete Account', user_path(@user), method: :delete,
  class: 'btn btn-danger btn-block', data: { confirm: 'Are You Sure?' } %>

<!-- Modals  -->
<div class="modal fade" id="editInfo" tabindex="-1" role="dialog" aria-labelledby="editInfo">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Edit Your Information</h4>
      </div>
      <div class="modal-body">
        <%= form_for @user, url: user_path(@user), method: :patch do |form| %>
          <%= render 'shared/error_messages' if @user.errors.any? %>
          <hr/>
          <div class="form-group">
            <%= form.label :name, class: 'sr-only' %>
            <%= form.text_field :name, class: 'form-control', placeholder: 'Name' %>
          </div>

          <div class="form-group">
            <%= form.label :email, class: 'sr-only' %>
            <%= form.email_field :email, class: 'form-control', placeholder: 'Email' %>
          </div>

          <div class="form-group modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            <%= form.submit 'Submit Changes', class: 'btn btn-success btn-sm' %>
          </div>
          <hr/>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="changePassword" tabindex="-1" role="dialog" aria-labelledby="changePassword">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Create Poll</h4>
      </div>
      <div class="modal-body">
        <%= form_for @user, url: user_path(@user), method: :patch do |form| %>
          <hr/>
          <div class="form-group">
            <%= form.label :password, class: 'sr-only' %>
            <%= form.password_field :password, class: 'form-control', placeholder: 'Password' %>
          </div>

          <div class="form-group">
            <%= form.label :password_confirmation, class: 'sr-only' %>
            <%= form.password_field :password_confirmation, class: 'form-control', placeholder: 'Confirmation' %>
          </div>

          <div class="form-group">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            <%= form.submit 'change your password', class: 'btn btn-success btn-sm' %>
          </div>
          <hr/>
        <% end %>
      </div>
    </div>
  </div>
</div>
<!-- Modals -->
