<% content_for :title, 'Edit Profile'%>
Edit your profile information here:
<%= form_for @user, url: user_path(@user), method: :patch do |form| %>
  <%= render 'fields', f: form %>
  <div class="form-group">
    <%= form.submit 'Submit Changes', class: 'btn btn-success' %>
  </div>
  <hr/>
<% end %>

<%= link_to 'Resend Activation Email', account_activations_path(id: @user), method: :post, class: 'btn btn-primary btn-block' %>
<%= link_to 'Delete Account', user_path(@user), method: :delete,
  class: 'btn btn-danger btn-block', data: { confirm: 'Are You Sure?' } %>
