<div class="col-md-4">
  <hr/>
  <% unless current_user.activated? %>
    <%= link_to 'Resend Activation Email', account_activations_path, method: :post,
        class: 'btn btn-primary btn-block' %>
  <% end %>

  <%= link_to 'Edit Account',    edit_profile_account_path,  class: 'btn btn-primary btn-block' %>
  <%= link_to 'Change Password', edit_profile_password_path, class: 'btn btn-primary btn-block' %>

  <%= render 'shared/twitter_button' %>

  <%= link_to 'Delete Account', user_path(current_user), method: :delete,
      class: 'btn btn-danger btn-block', data: { confirm: 'Are You Sure?' } %>
  <hr/>
</div>
