<%= content_for :title, 'Polls Index' %>

<%= form_tag({ controller: 'polls', action: 'index' }, method: :get) do %>
  <%= hidden_field_tag :sort,      params[:sort] %>
  <%= hidden_field_tag :direction, params[:direction] %>

  <div class="form-group">
    <%= label_tag :search_term, nil, class: 'sr-only' %>
    <div class="input-group">
      <%= text_field_tag :search_term, nil, class: 'form-control', placeholder: 'search for polls' %>
      <span class="input-group-btn">
        <%= submit_tag 'search', class: 'btn btn-default' %>
      </span>
    </div>
  </div>
<% end %>

<%= render 'poll_table'%>
<%= will_paginate @polls %>
