<% content_for :title, 'New Poll' %>

<%= form_for @poll, html: { mutipart: true } do |f| %>
  <%= render_error_message(@poll) %>
  <div class="form-group">
    <%= f.text_area :content, rows: 6, class: 'form-control', autofocus: true, placeholder: 'Enter your poll content' %>
  </div>
  <div class="form-group">
    <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %>
    <hr/>
  </div>

  <%= f.fields_for :choices do |c| %>
    <div class="form-group">
      <%= c.label :value, class: 'sr-only' %>
      <div class="input-group">
        <%= c.text_field :value, class: 'form-control choice', placeholder: 'Choice' %>
        <span class="input-group-btn">
          <div class="btn-group">
            <button type="button" class="btn btn-danger deleteChoice">&times;</button>
          </div>
        </span>
      </div>
      <noscript>
        <label>
          <%= c.check_box :_destroy %>
          <small>remove this choice</small>
        </label>
      </noscript>
    </div>
  <% end %>

  <div class="form-group">
    <button type="submit" class="btn btn-default" id="addChoice" name="add_choice">&plus; add another choice</button>
    <noscript>
      <button type="submit" class="btn btn-danger" name="remove_choices">&minus; remove selected choices</button>
    </noscript>
  </div>


  <div class="form-group">
    <hr/>
    <%= f.submit 'Create Poll', class: 'btn btn-success btn-block' %>
  </div>
<% end %>
