<% content_for :title, 'Change Password' %>

<%= render 'shared/edit_profile_buttons' %>

<div class="col-md-5">
  <%= form_for current_user.account, url: profile_password_path, method: :patch do |f| %>
    <hr/>
    <%= render 'shared/error_messages', object: f.object if f.object.errors.any? %>

    <div class="form-group">
      <%= f.label :password, class: 'sr-only' %>
      <%= f.password_field :password, class: 'form-control', placeholder: 'New Password', autofocus: true %>
    </div>

    <div class="form-group">
      <%= f.label :password_confirmation, class: 'sr-only' %>
      <%= f.password_field :password_confirmation, class: 'form-control', placeholder: 'Confirm New Password' %>
    </div>

    <% unless current_user.account.password_digest.nil? %>
      <hr/>
      <div class="form-group">
        <%= f.label :oldpassword, class: 'sr-only' %>
        <%= f.password_field :oldpassword, class: 'form-control', placeholder: 'Old Password' %>
      </div>
    <% end %>

    <div class="form-group">
      <%= f.submit 'change your password', class: 'btn btn-success btn-sm' %>
    </div>
    <hr/>
  <% end %>
</div>
