<% if logged_in? %>

  <h4><%= current_user.name %></h4>
  <%= profile_picture(current_user, 150) %>
  <hr/>
    <% if current_user.activated? %>
      <%= link_to 'Create a Poll', new_poll_path, class: 'btn btn-success btn-inline-block' %>
    <% end %>
    <%= link_to 'Settings', edit_profile_path, class: 'btn btn-primary btn-inline-block' %>
    <%= link_to 'Log Out',  logout_path , method: :delete, class: 'btn btn-danger btn-inline-block' %>

<% else %>

  <%= link_to 'Log In',  login_path,  class: 'btn btn-primary btn-block' %>
  <%= link_to 'Sign Up', signup_path, class: 'btn btn-primary btn-block' %>
  <hr/>
  <%= render 'shared/twitter_button' %>

<% end %>
