<% if logged_in? %>

  <h4><%= current_user.name %></h4>
  <%= profile_picture(current_user, 150) %>
  <hr/>
    <% if current_user.activated? %>
      <%= link_to 'Create a Poll', new_poll_path, class: 'btn btn-success btn-inline-block' %>
    <% else %>
      <%= link_to 'Resend Activation Email', account_activations_path, method: :post, remote: true,
          class: 'btn btn-warning btn-inline-block' %>
    <% end %>

    <%= link_to 'Edit Account',    edit_profile_info_path,     class: 'btn btn-primary btn-inline-block' %>
    <%= link_to 'Change Password', edit_profile_password_path, class: 'btn btn-primary btn-inline-block' %>
    <%= twitter_button('btn-inline-block') %>

    <%= link_to 'Delete Account', user_path(current_user), method: :delete,
        class: 'btn btn-danger btn-inline-block', data: { confirm: 'Are You Sure?' } %>

    <% if current_user.admin? %>
      <hr/>
      <%= link_to 'Users', users_path,       class: 'btn btn-primary btn-inline-block' %>
      <%= link_to 'Flags', flags_polls_path, class: 'btn btn-primary btn-inline-block' %>
    <% end %>

<% else %>

  <%= link_to 'Log In',  login_path,  class: 'btn btn-primary btn-block' %>
  <%= link_to 'Sign Up', signup_path, class: 'btn btn-primary btn-block' %>
  <hr/>
  <%= twitter_button %>

<% end %>
