<% if logged_in? %>
  <div class="col-md-12">
    <h4><%= current_user.name %></h4>
  </div>
  <hr/>
  <div class="col-md-10" id="user-controls">
    <%= link_to 'Settings', edit_user_path(current_user), class: 'btn btn-primary btn-block btn-sm' %>
    <%= link_to 'Log Out',  logout_path ,method: :delete, class: 'btn btn-danger  btn-block btn-sm' %>
  </div>
<% else %>
  <div class="col-md-10">
    <%= link_to 'Log In',  login_path,  class: 'btn btn-primary btn-block btn-sm' %>
    <%= link_to 'Sign Up', signup_path, class: 'btn btn-primary btn-block btn-sm' %>
    <%= render 'shared/twitter_button' %>
  </div>
<% end %>
