<!DOCTYPE html>
<html>
<head>
  <title><%= page_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'layouts/header' %>

  <div class="container">
    <% flash.each do |type, msg| %>
      <div class="alert alert-<%= type %>"><%= msg %></div>
    <% end %>
    
    <div class="row">
      <div class="col-md-3">
        <%= render 'layouts/user_panel' %>
      </div>
      <div class="col-md-9">
        <%= yield %>
      </div>
    </div>
  </div>
</body>
</html>
