<!DOCTYPE html>
<html>
<head>
  <title><%= page_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header class="navbar navbar-fixed-top navbar-default">
    <div class="container">
      <%= link_to "Buck O Five", root_path, id: 'logo' %>
      <ul class="nav nav-pills navbar-right">
        <li><%= link_to 'Home', root_path %></li>
        <li><%= link_to 'About',   about_path %></li>
        <li><%= link_to 'Help',    help_path %></li>
        <li><%= link_to 'Contact', contact_path %></li>
      </ul>
    </div>
  </header>

  <div class="container">
    <div class="row">
      <noscript>
        <div class="alert alert-danger">
          We can do a lot better with JavaScript enabled ...
        </div>
      </noscript>
      <div class="col-md-3" id="user-panel">
        <%= render 'layouts/user_panel' %>
      </div>

      <div class="col-md-9" id="main-window">
        <% flash.each do |type, msg| %>
          <div class="alert alert-<%= type %>"><%= msg %></div>
        <% end %>
        <%= yield %>
      </div>
    </div>
  </div>

  <footer class="nav navbar-fixed-bottom navbar-default">
      <small>
        This projected is created and maintained by <a href="https://twitter.com/pchi17" target="_blank">Pengfei Philip Chi</a>.
        click <a href="https://github.com/pchi17/buckofive" target="_blank">here</a> to see the source code.
      </small>
  </footer>
</body>
</html>
